name: Build & Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '9.0.x'

      - name: Publish self-contained
        run: dotnet publish ./Mp3Rename.csproj -c Release -r win-x64 --self-contained false -p:PublishSingleFile=true -o out

      - name: Create Git tag
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git tag ${{ github.event.inputs.tag }}
          git push origin ${{ github.event.inputs.tag }}

      - name: Create Release
        id: create_release
        uses: dimi7rof/create-release@v3
        with:
          name: Release ${{ github.event.inputs.tag }}
          version: ${{ github.event.inputs.tag }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          files: out/Mp3Rename.exe
